<section class="about-section" id="about">
  <div class="about container">
    <div class="about-box-text">
      <div class="about-yacht">
        <p class="about-yacht-text"
          ><span class="about-yacht-text-span">Yacht Adventures</span> fleet is here to take you on the ultimate
          adventure. Each yacht is hand-picked for its comfort, style, and performance.</p
        >
      </div>
      <ul class="about-list">
        <li class="about-item"
          >From spacious decks to state-of-the-art technology, our yachts are designed to provide the perfect blend of
          luxury and functionality. Take a look at our selection below and choose the yacht that matches your needs and
          preferences.
        </li>
        <li class="about-item">
          No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.
          Book now and get ready for an unforgettable adventure on the high seas.
        </li>
      </ul>
      <ul class="about-images">
        <li class="about-yacht-one">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="./img/about/yahtone1x@desk.png 1x, ./img/about/yahtone2x@desk.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="./img/about/yahtone1x@tab.png 1x, ./img/about/yahtone2x@tab.png 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/about/yahtone1x@mob.png 1x, ./img/about/yahtone2x@mob.png 2x"
            />
            <img src="./img/about/yahtone1x@mob.png" alt="yacht" />
          </picture>
        </li>
        <li class="about-yacht-two">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="./img/about/yahttwo1x@desktab.png 1x, ./img/about/yahttwo2x@desktab.png 2x"
            />
            <source
              media="(max-width: 767px)"
              srcset="./img/about/yahttwo1x@mob.png 1x, ./img/about/yahttwo2x@mob.png 2x"
            />
            <img src="./img/about/yahttwo1x@mob.png" alt="yacht" />
          </picture>
        </li>
        <li class="about-yacht-three">
          <img
            srcset="./img/about/yahtthree1x@desktabmob.png 1x, ./img/about/yahtthree2x@desktabmob.png 2x"
            src="./img/about/yahtthree1x@desktabmob.png"
            alt="computer monitor"
            width="260"
            height="244"
          />
        </li>
      </ul>
    </div>
  </div>
</section>
