<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo-container">
      <svg class="footer-logo-icon" width="20" height="23">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      <p class="footer-logo-text"> yacht Adventures</p>
    </div>
    <div class="footer-nav-container">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">About</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Yachts</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Reviews</a>
        </li>
      </ul>
    </div>
    <div class="footer-social-media-container">
      <p class="footer-social-media-text">We in social</p>
      <ul class="footer-social-media-list">
        <li class="footer-social-media-item">
          <a class="footer-social-media-link" href="">
            <svg class="" width="10" height="19">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-media-item">
          <a class="footer-social-media-link" href="">
            <svg class="" width="19" height="19">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-media-item">
          <a class="footer-social-media-link" href="">
            <svg class="" width="19" height="14">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer-list">
      <li class="footer-item"> 2023. Yacht Adventures </li>
      <li class="footer-item"> Privacy Police </li>
    </ul>
  </div>
</footer>
