<section class="hero section">
  <div class="hero-container container">
    <div class="hero-section">
      <h1 class="hero-title">Explore the High Seas with <span class="span-title">Our Luxury Yacht </span>Rentals</h1>
      <p class="hero-text"
        >Experience the freedom and luxury of yachting on the open seas. Choose from our top-of-the-line yachts and
        embark on an unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p
      >
      <div class="btn-block">
        <button class="btn accent-btn" type="button">Get start</button>
        <a class="btn primery-btn" href="../index.html#services">Explore</a>
      </div>
    </div>
    <div class="card">
      <div class="card-client">
        <ul class="card-list list">
          <li class="card-item"
            ><img
              class="client-img"
              src="../img/hero/img-1@1x.jpg"
              srcset="../img/hero/img-1@1x.jpg 1x, ../img/hero/img-1@1x.jpg 2x"
              alt="Portrait of client"
              width="56"
          /></li>
          <li class="card-item"
            ><img
              class="client-img"
              src="../img/hero/img-2@1x.jpg"
              srcset="../img/hero/img-2@1x.jpg 1x, ../img/hero/img-2@1x.jpg 2x"
              alt="Portrait of client"
              width="56"
          /></li>
          <li class="card-item"
            ><img
              class="client-img"
              src="../img/hero/img-3@1x.jpg"
              srcset="../img/hero/img-3@1x.jpg 1x, ../img/hero/img-3@1x.jpg 2x"
              alt="Portrait of client"
              width="56"
          /></li>
        </ul>
        <p class="text-clients">OUR CLIENTS</p>
      </div>
      <img
        class="card-img"
        src="../img/hero/img-4@1x.png"
        srcset="../img/hero/img-4@1x.png 1x, ../img/hero/img-4@1x.png 2x"
        alt="Yacht"
        width="378"
      />
      <ul class="text-list">
        <li class="text-item">
          <p class="price">&#36;12M</p>
        </li>
        <li class="text-item">
          <p class="add-text">Book now and make your dream yacht rental a reality</p>
        </li>
      </ul>
      <img
        class="owner-img"
        src="../img/hero/img-5@1x.jpg"
        srcset="../img/hero/img-5@1x.jpg 1x, ../img/hero/img-5@1x.jpg 2x"
        alt="The owner of the yacht"
        width="233"
      />
    </div>
  </div>
</section>
