<section class="adventures container" id="reviews">
  <div class="adventures-title-container">
    <h3 class="adventures-title">
      <span class="adventure-title-gray">Yacht Adventures</span>
      <span class="adventures-title-item"
        >take pride in providing the best possible service and experience to our customers</span
      >
    </h3>
    <p class="adventures-text">
      Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for it - read on to find
      out what they have to say about their journey with us.
    </p>
  </div>

  <div class="feedback">
    <div class="swiper">
      <ul class="adventures-list swiper-wrapper">
        <li class="adventures-list-item swiper-slide">
          <picture>
            <source
              srcset="./img/reviews/john_tablet@1x.png 1x, ./img/reviews/john_tablet@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source srcset="./img/reviews/john-mob@1x.png 1x, ./img/reviews/john-mob@2x.png 2x" />
            <img class="img-adventures" src="./img/reviews/john-mob@1x.png" alt="John Wax" />
          </picture>
          <h4 class="adventures-list-item-title">John Wax</h4>
          <p class="adventures-list-item-text">
            I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht
            was spacious, comfortable, and luxurious, and the crew took care of everything.
          </p>
        </li>
        <li class="adventures-list-item swiper-slide">
          <picture>
            <source
              srcset="./img/reviews/victoria_tablet@1x.png 1x, ./img/reviews/victoria_tablet@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source srcset="./img/reviews/victoria_mob@1x.png 1x, ./img/reviews/victoria_mob@2x.png 2x" />
            <img class="img-adventures" src="./img/adventures/image-mob@1x.png" alt="Victoria Romashenko" />
          </picture>
          <h4 class="adventures-list-item-title">Victoria Romashenko</h4>
          <p class="adventures-list-item-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully
            designed, with all the amenities we needed, and the crew was attentive and friendly.
          </p>
        </li>
        <li class="adventures-list-item swiper-slide">
          <picture>
            <source
              srcset="./img/reviews/ihor_tablet@1x.png 1x, ./img/reviews/ihor_tablet@2x.png 2x"
              media="(min-width: 768px)"
            />
            <source srcset="./img/reviews/ihor_mob@1x.png 1x, ./img/reviews/ihor_mob@2x.png 2x" />
            <img class="img-adventures" src="./img/reviews/ihor_mob@1x.png" alt="Ihor Trachuk" />
          </picture>
          <h4 class="adventures-list-item-title">Ihor Trachuk</h4>
          <p class="adventures-list-item-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the
            outdoor areas were perfect for relaxing and entertaining. Worth every penny!
          </p>
        </li>
      </ul>

      <div class="swiper-button-prev visually-hidden"></div>
      <div class="swiper-button-next visually-hidden"></div>

      <div class="swiper-scrollbar visually-hidden"></div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</section>
