<section class="services section" id="services">
  <div class="services-container container">
    <ul class="services-list">
      <!-- 1 -->
      <li class="services-item item1">
        <a href="#" class="services-link">
          <div class="services-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./img/services/img-1_desk@1x.webp 1x, ./img/services/img-1_desk@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/services/img-1_tab@1x.webp 1x, ./img/services/img-1_tab@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="./img/services/img-1_mob@1x.webp 1x, ./img/services/img-1_mob@2x.webp 2x"
                type="image/webp"
              />
              <img src="./img/services/img-1.webp" alt="A man in a diving mask and fins swims in shallow water" />
            </picture>
            <div class="services-overlay"></div>
            <h2 class="services-caption">Diving</h2>
          </div>
        </a>
      </li>

      <!-- 2 -->
      <li class="services-item item2">
        <a href="#" class="services-link">
          <div class="services-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./img/services/img-2_desk@1x.webp 1x, ./img/services/img-2_desk@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/services/img-2_tab@1x.webp 1x, ./img/services/img-2_tab@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="./img/services/img-2_mob@1x.webp 1x, ./img/services/img-2_mob@2x.webp 2x"
                type="image/webp"
              />
              <img src="./img/services/img-2.webp" alt="Fishing rod, which is used to catch fish" />
            </picture>
            <div class="services-overlay"></div>
            <h2 class="services-caption">Fishing</h2>
          </div>
        </a>
      </li>

      <!-- 3 -->
      <li class="services-item item3">
        <a href="#" class="services-link">
          <div class="services-picture">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="./img/services/img-3_desk@1x.webp 1x, ./img/services/img-3_desk@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="./img/services/img-3_tab@1x.webp 1x, ./img/services/img-3_tab@2x.webp 2x"
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="./img/services/img-3_mob@1x.webp 1x, ./img/services/img-3_mob@2x.webp 2x"
                type="image/webp"
              />
              <img src="./img/services/img-3.webp" alt="Beach umbrellas" />
            </picture>
            <div class="services-overlay"></div>
            <h2 class="services-caption">Sunbathing</h2>
          </div>
        </a>
      </li>
    </ul>

    <!-- Spot on bg -->
    <div class="services-spot"></div>
  </div>
</section>
