<section class="servicesblock-bg">

    <div class="services-block">
        <ul class="servicesblock-list">
            <li class="list-servicesimg">
                <div class="services-present">
                    <span class="store-imge"></span>
                    <picture>
                        <source media="(min-width: 1280px)"
                            srcset="./img/services/img-diving-des-1x.png 1x, ./img/services/img-diving-des-2x.png 2x"
                            type="image/png" />
                        <source media="(min-width: 768px)"
                            srcset="./img/services/img-diving-tablet-1x.png 1x, ./img/services/img-diving-tablet-2x.png 2x"
                            type="image/png" />
                        <source media="(max-width: 767px)"
                            srcset="./img/services/img-diving-mob-1x.png 1x, ./img/services/img-diving-mob-2x.png 2x"
                            type="image/png" />
                        <img class="store-imge" src="./img/services/img-diving-mob-1x.png" alt="Photo compliments"
                            loading="lazy" />
                    </picture>
                    <div class="services-color">
                        <p class="title-services">Diving</p>
                    </div>
                </div>
            </li>
            <li class="list-servicesimg">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./img/services/img-fishing-1x-des.png 1x, ./img/services/img-fishing-2x-des.png 2x"
                        type="image/png" />
                    <source media="(min-width: 768px)" srcset="
                        ./img/services/img-fishing-1x-tablet.png 1x,
                        ./img/services/img-fishing-2x-tablet.png 2x" type="image/png" />
                    <source media="(max-width: 767px)" srcset="
                        ./img/services/img-fishing-1x-mob.png 1x,
                        ./img/services/img-fishing-2x-mob.png 2x" type="image/png" />
                    <img class="store-img" src="./img/services/img-fishing-1x-mob.png" alt="Photo compliments"
                        loading="lazy" />
                </picture>
            </li>
            <li class="list-servicesimg">
                <picture>
                    <source media="(min-width: 1280px)"
                        srcset="./img/services/img-sunbathing-des-1x.png 1x, ./img/services/img-sunbathing-des-2x.png 2x"
                        type="image/png" />
                    <source media="(min-width: 768px)" srcset="
                        ./img/services/img-sunbathing-tablet-1x.png 1x,
                        ./img/services/img-sunbathing-tablet-2x.png 2x" type="image/png" />
                    <source media="(max-width: 767px)" srcset="
                        ./img/services/img-sunbathing-mob-1x.png 1x,
                        ./img/services/img-sunbathing-mob-2x.png 2x" type="image/png" />
                    <img class="store-img" src="./img/services/img-sunbathing-mob-1x.png" alt="Photo compliments"
                        loading="lazy" />
                </picture>
            </li>
        </ul>
    </div>

</section>