<!-- Yaht_block -->
<section class="section">
  <div class="yb-container">
    <div class="yb-main-info">
      <h2 class="yb-title"> Choose your dream yacht and sail away into the sunset </h2>
      <button class="yb-button" type="button">Yacht rental</button>
    </div>
    <div class="yb-card">
      <img class="yb-img" src="" alt="" />
      <div class="yaht-info">
        <span class="yaht-name">Arrow</span>
        <span class="yaht-class">LUXURY YAHTS</span>
      </div>
      <ul class="yb-list list">
        <li class="yb-item">
          <span class="yaht-datum">LENGTH</span>
          <span class="yaht-datum-description">48m(155ft)</span>
        </li>
        <li class="yb-item">
          <span class="yaht-datum">BUILDER</span>
          <span class="yaht-datum-description">Admiral</span>
        </li>
        <li class="yb-item">
          <span class="yaht-datum">BUILT</span>
          <span class="yaht-datum-description">2021</span>
        </li>
        <li class="yb-item">
          <span class="yaht-datum">GUESTS</span>
          <span class="yaht-datum-description">11 in 5 cabins</span>
        </li>
        <li class="yb-item">
          <span class="yaht-datum">PRICE</span>
          <span class="yaht-datum-description">€33,500,000</span>
        </li>
      </ul>
    </div>
    <div>
      <button type="button" class="yb-swipe-btn btn">
        <svg class="swipe-svg" width="" height="">
          <use href=""></use>
        </svg>
      </button>
      <button type="button" class="yb-swipe-btn btn">
        <svg class="swipe-svg" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</section>
