<!-- Yaht_block -->
<section class="section">
  <div class="yb-container container">
    <div class="yb-main-info">
      <h2 class="yb-title"> Choose your dream yacht and sail away into the sunset </h2>
      <button class="yb-button btn" type="button">Yacht rental</button>
    </div>
    <div class="yb-card">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="../img/yahts/mob_arrow@1x.png 1x, ../img/yahts/mob_arrow@2x.png 2x"
          type="image/png"
        />
        <img class="yb-img img" src="../img/yahts/mob_arrow@1x.png" alt="Arrow yaht" loading="lazy" />
      </picture>
      <div class="yaht-info">
        <span class="yaht-name">Arrow</span>
        <span class="yaht-class">LUXURY YAHTS</span>
      </div>
      <div class="yaht-characteristics">
        <ul class="yb-list list">
          <li class="yaht-item">LENGTH</li>
          <li class="yaht-item">BUILDER</li>
          <li class="yaht-item">BUILT</li>
          <li class="yaht-item">GUESTS</li>
          <li class="yaht-item">PRICE</li>
        </ul>
        <ul class="yb-list list">
          <li class="yaht-item-description">48m(155ft)</li>
          <li class="yaht-item-description">Admiral</li>
          <li class="yaht-item-description">2021</li>
          <li class="yaht-item-description">11 in 5 cabins</li>
          <li class="yaht-item-description">€33,500,000</li>
        </ul>
      </div>
    </div>
    <div class="swipe-wrapper">
      <button type="button" class="yb-swipe-btn btn">
        <svg class="swipe-svg" width="" height="">
          <use href=""></use>
        </svg>
      </button>
      <button type="button" class="yb-swipe-btn btn">
        <svg class="swipe-svg" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</section>
