:root {
  /* Colors */
  --black-cl: #11131f;
  --dark-cl: #1f212d;
  --light-grn-cl: #93abae;
  --white-cl: #f6f5ef;
  --hover-cl: #88b3b9;
  --grey-cl: rgba(246, 245, 239, 0.5);
  --linear-gradient: linear-gradient(#bec7c2 0%, #a1b5ba 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
/*
  |============================
  | Common styles
  |============================
*/
body {
  background-color: var(black-cl);
  color: var(--white-cl);
  font-weight: normal;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}
/* Base styles for mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
  outline: 2px solid red;
  outline-offset: -2px;
}
/* Tablet screen styles */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
/* Desktop screen styles */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
