.footer {
  padding-bottom: 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 334px;
  border-top: 1px solid rgba(246, 245, 239, 0.2);
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .footer-container {
    height: 280px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-container {
    height: 284px;
  }
}

.footer-container::after {
  content: '';
  position: absolute;
  top: 259px;
  left: 25px;
  z-index: -1;
  width: 420px;
  height: 420px;
  border-radius: 50%;
  background-color: var(--light-blur-first-cl);
  opacity: 0.6;
  filter: blur(100px);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .footer-container::after {
    top: 263px;
    left: 252px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-container::before {
    content: '';
    position: absolute;
    top: 281px;
    right: 270px;
    z-index: -1;
    width: 317px;
    height: 317px;
    border-radius: 50%;
    background-color: var(--light-blur-first-cl);
    opacity: 0.6;
    filter: blur(100px);
    transform: rotate(-45deg);
  }

  .footer-container::after {
    top: 257px;
    left: 292px;
    width: 415px;
    height: 415px;
  }
}

.footer-up-part {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .footer-up-part {
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 64px;
  }
}

.footer-logo-container {
  display: inline-flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  .footer-logo-container {
    margin-right: 130px;
  }
}

@media only screen and (min-width: 768px) {
  .footer-logo {
    width: 23px;
    height: 23px;
  }
}

.footer-logo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .footer-logo-text {
    font-size: 18px;
    line-height: 1.18;
    /* min-width: 187px; */
  }
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    margin-right: 143px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-list {
    gap: 24px;
    align-items: center;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-list {
    flex-direction: row;
  }
}

.footer-list-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-media-container-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.footer-social-media-list {
  display: flex;
  gap: 14px;
}

@media only screen and (min-width: minwidthpx) {
  .footer-social-media-list {
    gap: 16px;
  }
}

.footer-social-media-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--grey-cl);
  border-radius: 6px;
  transition: border-color var(--main-transition-function);
}

@media only screen and (min-width: minwidthpx) {
  .footer-social-media-list-item-link {
    width: 40px;
    height: 40px;
  }
}

.footer-social-media-list-item-link:hover,
.footer-social-media-list-item-link:focus {
  border-color: var(--light-grn-cl);
}

.footer-social-media-list-item-link-icon {
  fill: var(--white-cl);
  transition: fill var(--main-transition-function);
}

@media only screen and (min-width: 768px) {
  .footer-social-media-list-item-link-icon {
    width: 22px;
    height: 22px;
  }
}

.footer-social-media-list-item-link:hover .footer-social-media-list-item-link-icon,
.footer-social-media-list-item-link:focus .footer-social-media-list-item-link-icon {
  fill: var(--light-grn-cl);
}

.footer-down-part {
  display: inline-flex;
  gap: 14px;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .footer-down-part {
    padding-bottom: 16px;
  }
}

.footer-down-ownership {
  color: var(--grey-cl);
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer-down-privacy-police {
  color: var(--grey-cl);
  font-size: 12px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
