   
@media only screen and (max-width: 767px) {
    .hero {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media only screen and (max-width: 1279px) {
    .hero {
        padding-top: 64px;
        padding-bottom: 50px;
    }
}
@media only screen and (min-width: 1280px) {
    .hero-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 218px;
     }
}     
@media only screen and (max-width: 767px) {
    .hero-title {
        color: var(--white, #F6F5EF);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -1.62px;
        margin-bottom: 14px;
    }
}
@media only screen and (min-width: 768px) {
    .hero-title {
        color: var(--white, #F6F5EF);
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -2.7px;
        margin-bottom: 16px;
    }
}
@media only screen and (min-width: 1280px) {
    .hero-title {
        color: var(--white, #F6F5EF);
        font-size: 60px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -2.7px;
        padding-top: 132px;
        padding-bottom: 16px;
    }
}
.span-title {

}
@media only screen and (max-width: 767px) {
    .span-title {
        background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -1.62px;
    }
}
@media only screen and (min-width: 768px) {
    .span-title {
        background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        font-style: italic;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -2.7px;
    }
}
@media only screen and (min-width: 1280px) {
    .span-title {
        background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        font-style: italic;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -2.7px;
    }
}
@media only screen and (max-width: 767px) {
    .hero-text {
        color: var(--white, #F6F5EF);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.28px;
        margin-bottom: 24px;
    }
}
@media only screen and (min-width: 768px) {
    .hero-text {
        color: var(--white, #F6F5EF);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.32px;
        margin-bottom: 32px;
    }
}
@media only screen and (min-width: 1280px) {
    .hero-text {
        max-width: 539px;
        color: var(--white, #F6F5EF);
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.32px;
        padding-bottom: 32px;
    }
}
.btn {}
.btn-block {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.accent-btn {
    color: var(--white, #F6F5EF);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.81px;
    border-radius: 60px;
    background-color: #93ABAE;
    padding: 14px 28px;
    
}

@media only screen and (max-width: 767px) {
    .accent-btn {
        font-size: 14px;
    }
}    
.accent-btn:hover,
.accent-btn:focus {
    background-color: #88B3B9;
}
.primery-btn {
    color: var(--white, #F6F5EF);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.81px;
    border-radius: 60px;
    border: 1px solid var(--white, #F6F5EF);
    padding: 14px 28px;
}
@media only screen and (max-width: 767px) {
    .primery-btn {
        font-size: 14px;
    }
}
.primery-btn:hover,
.primery-btn:focus {
    color: #93ABAE;
}

.card {
    position: relative;
    width: 426px;
    height: 598px;
    margin-top: 64px;
    background-image: url(../img/hero/img-6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
@media only screen and (max-width: 767px) {
     .card {  
        width: 335px;
        height: 427px;
        margin: 0 auto;
        margin-top: 40px;
        padding-bottom: 40px;
    }    
}
@media only screen and (min-width: 768px) {
    .card {
        padding-bottom: 50px;
    }
}
.card-list {
    display: flex;
}
.card-client {
    padding-left: 32px;
    padding-bottom: 111px;
}
@media only screen and (max-width: 767px) {
    .card-client {
        padding-left: 24px;
        padding-bottom: 52px;
        
    }       
}
.card-item {
    padding-top: 32px;
    margin-bottom: 11px;
}
@media only screen and (max-width: 767px) {
    .card-item {
        padding-top: 24px;
    }
}
.client-img {
    border-radius: 56px;
    border: 2px solid #93ABAE;
}
@media only screen and (max-width: 767px) {
    .client-img {
        width: 48px;
        height: 48px;
        border-radius: 48px;
    }
}
.text-clients {
    color: #11131F;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    
}

.card-img {
    max-width: 378px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
}
@media only screen and (max-width: 767px) {
    .card-img {
    max-width: 287px;
    padding-bottom: 14px;
    }
}

.text-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.text-item {}

.price {
    padding-left: 37px;
    color: #11131F;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -2.7px;
    text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
    .price {
        font-size: 60px;
        letter-spacing: -2.7px;
    }
}
.add-text {
    color: #11131F;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.81px;
}
@media only screen and (max-width: 767px) {
    .price {
        font-size: 48px;
        letter-spacing: -2.16px;
    }
}
.owner-img {
    position: absolute;
    bottom: 55%;
    left: 70%;
    width: 233px;
    height: 233px;
    border-radius: 24px;
    background: url(<path-to-image>), lightgray -105.437px -66.802px / 258.356% 172.321% no-repeat;
}

@media only screen and (max-width: 767px) {
    .owner-img {
        width: 133px;
        height: 133px;
        position: absolute;
        bottom: 60%;
        left: 62%;
    }
}