
.hero {}

.section {}

.hero-container {
   background: #11131F;
   display: flex;
   flex-direction: row-reverse;
   gap: 236px;
}


.hero-section {
    
}

.hero-title {
   
    color: var(--white, #F6F5EF);
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -2.7px;
    padding-top: 132px;
    padding-bottom: 16px;
}
.span-title {
    background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -2.7px;
}

.hero-text {
    max-width: 539px;
    color: var(--white, #F6F5EF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.32px;
    padding-bottom: 32px;
}

.btn {}

.accent-btn {
    color: var(--white, #F6F5EF);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.81px;
    border-radius: 60px;
    background: var(--light-green, #93ABAE);
    padding: 14px 28px;
    margin-right: 11px;
}

.primery-btn {
    color: var(--white, #F6F5EF);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.81px;
    border-radius: 60px;
    border: 1px solid var(--white, #F6F5EF);
    padding: 14px 28px;
}

.card {
    margin-top: 64px;
    background-image: url(../img/hero/img-6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-list {
    display: flex;
    

}

.list {}

.card-item {
    padding-top: 96px;
    padding-bottom: 11px;
}

.client-img {
    border-radius: 56px;
    border: 2px solid #93ABAE;
    background: url(<path-to-image>), lightgray -15.622px 4.169px / 155.791% 103.873% no-repeat, #E3E3E3;
}

.text-clients {
    color: #11131F;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    padding-bottom: 111px;
}

.card-img {}

.text-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-item {}

.price {
    color: #11131F;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: -2.7px;
    text-transform: uppercase;
}

.add-text {
    color: #11131F;
    font-size: 18px;
    line-height: 1.1;
    letter-spacing: -0.81px;
}