@media only screen and (min-width: 320px) {
  .rent-yacht-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .rent-yacht-heading {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.045em;
    margin-bottom: 16px;
  }
  .rent-yacht-form-container,
  .rent-yacht-textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }
  .rent-yacht-input {
    color: inherit;
    background-color: inherit;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--white-cl);
    width: 335px;
    height: 35px;
  }
  .rent-yacht-input::placeholder,
  .rent-yacht-textarea::placeholder {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    color: var(--white-cl);
  }
  .rent-yacht-textarea {
    color: inherit;
    background-color: inherit;
    width: 335px;
    height: 77px;
    resize: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--white-cl);
  }
  .rent-yacht-send-button {
    width: 132px;
    height: 48px;
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 1px solid var(--white-cl);
    font-size: 18px;
    font-weight: 700;
    margin-top: 24px;
    color: var(--white-cl);
    background-color: inherit;
  }
  .send-arrows-icon {
    fill: var(--white-cl);
    margin-left: 16px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--main-transition-function), visibility var(--main-transition-function);
  }
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 335px;
    min-height: 396px;
    background: var(--dark-cl);
    border-radius: 20px;
    transition: var(--main-transition-function);
    padding: 40px 24px;
  }
  .modal-window::after {
    content: '';
    width: 142px;
    height: 142px;
    top: 75px;
    left: 96px;
    background: #91afba;
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    transform: rotate(45deg);
    z-index: -1;
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 0;
    top: 14px;
    right: 14px;
    background-color: transparent;
    outline: 0;
    border: none;
  }
  .icon-modal {
    stroke: var(--white-cl);
  }
  .modal-heading {
    width: 282px;
    height: 29px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    margin-bottom: 14px;
  }
  .modal-p {
    width: 287px;
    height: 100px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }
  .modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 287px;
    height: 149px;
  }
}
@media only screen and (min-width: 768px) {
  .rent-yacht-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .rent-yacht-heading {
    width: 287px;
    height: 132px;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.045em;
    margin-bottom: 32px;
  }
  .rent-yacht-form-container,
  .rent-yacht-textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  .rent-yacht-block {
    display: flex;
  }
  .rent-yacht-section {
    display: flex;
  }
  .rent-yacht-image {
    margin-right: 69px;
  }
  .rent-yacht-input {
    color: inherit;
    background-color: inherit;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--white-cl);
    width: 364px;
    height: 35px;
  }
  .rent-yacht-textarea {
    color: inherit;
    background-color: inherit;
    width: 364px;
    height: 77px;
    resize: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--white-cl);
  }
  .rent-yacht-send-button {
    width: 132px;
    height: 48px;
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 1px solid var(--white-cl);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.045em;
    margin-top: 32px;
    color: var(--white-cl);
    background-color: inherit;
  }
  .rent-yacht-input::placeholder,
  .rent-yacht-textarea::placeholder {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    color: var(--white-cl);
  }
  .send-arrows-icon {
    fill: var(--white-cl);
    margin-left: 16px;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--main-transition-function), visibility var(--main-transition-function);
  }
  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 570px;
    min-height: 522px;
    background: var(--dark-cl);
    border-radius: 40px;
    transition: var(--main-transition-function);
    padding: 97px 64px 64px 64px;
  }
  .modal-window::after {
    content: '';
    width: 265px;
    height: 265px;
    top: 75px;
    left: 96px;
    background: #91afba;
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    transform: rotate(45deg);
    z-index: -1;
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    top: 32px;
    right: 32px;
    background-color: transparent;
    outline: 0;
    border: none;
  }
  .icon-modal {
    stroke: var(--white-cl);
  }
  .modal-heading {
    width: 282px;
    height: 38px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    margin-bottom: 16px;
  }
  .modal-p {
    width: 442px;
    height: 88px;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }
  .modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 338px;
    height: 198px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    padding-left: 183px;
    padding-right: 183px;
  }
  .rent-yacht-section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
  .rent-yacht-heading {
    width: 282px;
    height: 132px;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.045em;
    margin-bottom: 64px;
  }
  .rent-yacht-form-container,
  .rent-yacht-textarea-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
  }
  .rent-yacht-block {
    display: flex;
  }
  .rent-yacht-section {
    display: flex;
  }
  .rent-yacht-image {
    margin-right: 188px;
  }
  .rent-yacht-input {
    color: inherit;
    background-color: inherit;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--white-cl);
    width: 443px;
    height: 35px;
  }
  .rent-yacht-input::placeholder,
  .rent-yacht-textarea::placeholder {
    color: var(--white-cl);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
  }
  .rent-yacht-textarea {
    color: inherit;
    background-color: inherit;
    width: 443px;
    height: 77px;
    resize: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--white-cl);
  }
  .rent-yacht-send-button {
    width: 132px;
    height: 48px;
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    border: 1px solid var(--white-cl);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.045em;
    margin-top: 64px;
    color: var(--white-cl);
    background-color: inherit;
  }
  .send-arrows-icon {
    fill: var(--white-cl);
    margin-left: 16px;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--main-transition-function), visibility var(--main-transition-function);
  }

  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 570px;
    min-height: 522px;
    background: var(--dark-cl);
    border-radius: 40px;
    transition: var(--main-transition-function);
    padding: 97px 64px 64px 64px;
  }
  .modal-window::after {
    content: '';
    width: 265px;
    height: 265px;
    top: 75px;
    left: 96px;
    background: #91afba;
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
    filter: blur(100px);
    transform: rotate(45deg);
    z-index: -1;
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    padding: 0;
    top: 32px;
    right: 32px;
    background-color: transparent;
    outline: 0;
    border: none;
  }
  .icon-modal {
    stroke: var(--white-cl);
  }
  .modal-heading {
    width: 282px;
    height: 38px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.045em;
    margin-bottom: 16px;
  }
  .modal-p {
    width: 442px;
    height: 88px;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }
  .modal-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 338px;
    height: 198px;
  }
}
