.adventures {
  padding-top: 40px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .adventures {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .adventures {
    padding-top: 82px;
    padding-bottom: 164px;
  }
}

.adventures-title-container {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .adventures-title-container {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1280px) {
  .adventures-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.img-adventures {
  margin: 0 auto;
}
.adventures-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin: 0;
  margin-bottom: 24px;
}

@media only screen and (min-width: 375px) {
  .adventures-title {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .adventures-title {
    font-size: 32px;
    width: 497px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .adventures-title {
    margin: 0;
  }
}

.adventure-title-gray {
  font-style: italic;
  background: var(--linear-green, linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (min-width: 375px) {
  .adventures-title-item {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .adventures-title-item {
    width: 497px;
  }
}

.adventures-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.02em;

  margin: 0;
}
@media only screen and (min-width: 375px) {
  .adventures-text {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .adventures-text {
    font-size: 16px;
    width: 274px;
    margin-left: 431px;
    margin-bottom: 0;
  }
}

.adventures-list-item {
  padding: 24px 14px;
  border-radius: 24px;
  background-color: var(--dark-cl);
}

@media only screen and (min-width: 375px) {
  .adventures-list-item {
    width: 335px;
  }
}

@media only screen and (min-width: 768px) {
  .adventures-list-item {
    width: 344px;
  }
}

@media only screen and (min-width: 1280px) {
  .adventures-list-item {
    width: 384px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279.98) {
  .adventures-list-item {
    padding: 24px 12px;
  }
}

@media only screen and (min-width: 1280px) {
  .adventures-list-item {
    padding: 32px 32px;
  }
}

.adventures-list-item-title {
  text-align: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  margin-top: 18px;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .adventures-list-item-title {
    font-size: 18px;
    margin-top: 24px;
  }
}
.adventures-list-item-text {
  color: var(--grey-cl);
  text-align: center;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  padding: 0 3.5px;
  width: 100%;
}

/* @media only screen and (min-width: 375px) {
  .adventures-list-item-text {
    width: 300px;
  }
} */

@media only screen and (min-width: 768px) {
  .adventures-list-item-text {
    width: 320px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .adventures-list-item-text {
    padding: 0;
  }
}

.feedback {
  position: relative;
}

.swiper {
  width: 335px;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .swiper {
    width: 704px;
  }
}

@media only screen and (min-width: 1280px) {
  .swiper {
    width: 1216px;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -14px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
  opacity: 0.6;
  cursor: pointer;
  background-color: var(--dark-cl);
  filter: drop-shadow(2px 1px 3px rgba(24, 55, 91, 0.2));
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: var(--hover-cl);
}

@media only screen and (min-width: 768px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -32px;
  }
}

@media only screen and (min-width: 1280px) {
  .swiper-pagination {
    display: none;
  }
}

.back-to-up {
  background-color: var(--light-grn-cl);
  border: none;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  z-index: 10;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media only screen and (min-width: 768px) {
  .back-to-up {
    width: 68px;
    height: 68px;
  }
}

.icon-arrow-up {
  fill: var(--white-cl);
}
