/* .services {
} */

.services-container {
    position: relative;
}

.services-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media only screen and (min-width: 768px) {
    .services-list {
        gap: 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .services-list {
        flex-direction: row;
        gap: 64px;
        flex-wrap: wrap;
    }
}

/* .services-item {
} */
@media only screen and (min-width: 768px) {
    .services-item.item2 {
        width: 400px;
        align-self: flex-end;
    }

    .services-item.item3 {
        width: 380px;
        margin-left: 32px;
    }
}

@media only screen and (min-width: 1280px) {
    .services-item.item1 {
        width: 712px;
    }

    .services-item.item2 {
        width: 440px;
    }

    .services-item.item3 {
        width: 436px;
        margin-left: 340px;
    }
}

/* .services-link {
} */

.services-picture {
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.services-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 19, 31, 0.2);
}

.services-caption {
    position: absolute;
    bottom: 24px;
    left: 24px;

    padding: 14px 28px;
    background-color: #f6f5ef;
    border-radius: 60px;

    color: #11131f;
    font-size: 14px;
    line-height: 110%;
    letter-spacing: -0.045em;
}

@media only screen and (min-width: 768px) {
    .services-caption {
        font-size: 18px;
    }
}

.services-spot {
    position: absolute;
    top: 306px;
    left: -219px;
    width: 323px;
    height: 323px;
    transform: rotate(-45deg);
    z-index: -1;

    border-radius: 50%;
    opacity: 0.6;
    background: #91afba;
    filter: blur(100px);
}

@media only screen and (min-width: 768px) {
    .services-spot {
        top: 566px;
        width: 414px;
        height: 414px;
    }
}

@media only screen and (min-width: 1280px) {
    .services-spot {
        top: 231px;
        width: -213px;
    }
}