.servicesblock-bg {
    background-color: #11131F;
}

.servicesblock-list {
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    gap: 64px;
    align-items: baseline;
}

.services-block {
    padding: 32px;
    max-width: 1280px;
    display: block;
    margin: 0 auto;
}

.store-imge {
    position: relative;
}

.services-present {
    position: relative;
    display: block;
}

.store-imge::after {
    content: "";
    position: absolute;
    border-radius: 414px;
    opacity: 0.6000000238418579;
    background: #91AFBA;
    filter: blur(100px);
    width: 414px;
    height: 414px;
    transform: rotate(-45.074deg);
    flex-shrink: 0;
    top: 200px;
    left: -230px;
}

.services-color {
    display: inline-flex;
    padding: 14px 28px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 60px;
    background: #F6F5EF;
    position: absolute;
    margin-left: 60px;
    margin-top: -100px;
}

.title-services {
    color: #11131F;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125em;
    /* 19.8px */
    letter-spacing: -0.81px;
}