/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./fonts.css');
@import url('./common.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yahts.css');
@import url('./services.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');
