.section {
  background-color: var(--bg-black-cl);
}

.yb-container {
  margin-bottom: 80px;
}
.yb-main-info {
  max-width: 335px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-bottom: 80px;
}

.yb-container::before {
  content: '';
  top: -40px;
  left: -40px;
  width: 255px;
  height: 255px;
  opacity: 0.6000000238418579;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  background: #91afba;
  transform: rotate(-45deg);
  z-index: -1;
}
.yb-container::after {
  content: '';
  top: -40px;
  right: -40px;
  width: 195px;
  height: 195px;
  transform: rotate(-44.916deg);
  opacity: 0.30000001192092896;
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  background: #a6a9b2;
  z-index: -1;
}

.yb-title {
  max-width: 310px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.10125em;
}
.yb-button {
  max-width: 134px;
  height: 43px;
  color: var(--white-cl);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  background-color: inherit;
  display: block;
  padding: 14px 28px;
  border-radius: 60px;
  border: 1px solid var(--white-cl);
}
.yb-card {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-cl);
  border-radius: 24px;
  margin-bottom: 24px;
  padding: 24px;
  gap: 24px;
}
.yb-img {
  width: 299px;
  height: 251px;
  text-align: center;
  border-radius: 24px;
  background: url(<path-to-image>), lightgray -6.748px 0px / 115.615% 106.773% no-repeat;
}
.yaht-info {
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  justify-content: space-between;
}
.yaht-name {
  font-size: 16px;

  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.045em;
  text-transform: uppercase;
}
.yaht-class {
  font-size: 12px;

  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.0225em;
  text-transform: uppercase;
  opacity: 0.5;
}

.yaht-characteristics {
  display: flex;
  column-gap: 32px;
}

.yb-list {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.yaht-item,
.yaht-item-description {
  font-size: 14px;

  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.026em;
  text-transform: uppercase;
}
.yaht-item-description {
  text-transform: none;
}

.swipe-wrapper {
  display: flex;
  gap: 14px;
  justify-content: center;
}
.yb-swipe-btn {
  width: 46px;
  height: 36px;
  border-radius: 60px;
  border: 1px solid var(--white-cl);
  background-color: inherit;
}

.swipe-svg {
  fill: var(--white-cl);
}
